<div class="suite-form-container">
  <div class="card-header-suite">
    <h2>{{ isEditMode ? 'Editar Suíte' : 'Nova Suíte' }}</h2>
    <p class="subtitle-suite">Adicione ou edite detalhes das suítes</p>
  </div>

  <form (ngSubmit)="saveSuite()">
    <div class="form-body-suite">
      <div class="form-group-suite">
        <label for="suiteName">Nome da Suíte</label>
        <input type="text" id="suiteName" [(ngModel)]="suite.name" name="name" required
          placeholder="Ex: Suíte Presidencial">
      </div>

      <div class="form-group-suite">
        <label for="suiteDescription">Descrição</label>
        <textarea id="suiteDescription" [(ngModel)]="suite.description" name="description" rows="3"
          placeholder="Detalhes da suíte..."></textarea>
      </div>

      <div class="row-inputs">
        <div class="form-group-suite half">
          <label for="pricePerPeriod">Preço (R$)</label>
          <input type="number" id="pricePerPeriod" [(ngModel)]="suite.pricePerPeriod" name="pricePerPeriod" required
            placeholder="0.00">
        </div>

        <div class="form-group-suite half">
          <label for="maxOccupancy">Ocupação Máxima</label>
          <input type="number" id="maxOccupancy" [(ngModel)]="suite.maxOccupancy" name="maxOccupancy" required
            placeholder="2">
        </div>
      </div>

      <div class="form-group-suite">
        <label for="suiteImage">Imagem da Suíte</label>
        <input type="file" id="suiteImage" (change)="onFileSelected($event)" accept="image/*">
        <div *ngIf="imagePreview" class="image-preview">
          <img [src]="imagePreview" alt="Preview" class="preview-img">
        </div>
      </div>
    </div>

    <div class="form-actions-suite">
      <button type="button" class="btn-cancel-suite" (click)="cancel()">Limpar</button>
      <button type="submit" class="btn-save-suite">Salvar Suíte</button>
    </div>
  </form>
</div>