<div class="card">
  <div class="card-header">
    <h2>{{ isEditMode ? 'Editar Motel' : 'Adicionar Motel' }}</h2>
  </div>
  <div class="card-body">
    <form (ngSubmit)="saveMotel()">
      <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="motel.name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Endereço</label>
        <input
          type="text"
          class="form-control"
          id="address"
          name="address"
          [(ngModel)]="motel.address"
          required
        />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Telefone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          [(ngModel)]="motel.phone"
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descrição</label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          [(ngModel)]="motel.description"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary me-2">Salvar</button>
      <button type="button" class="btn btn-secondary" (click)="goBack()">
        Cancelar
      </button>
    </form>
  </div>
</div>

<div *ngIf="isEditMode" class="card mt-4">
  <div class="card-header">
    <h3>Suites</h3>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-success mb-3" (click)="openAddSuiteForm()">Add New Suite</button>

    <div *ngIf="showSuiteForm">
      <app-suite-form
        [suiteToEdit]="suiteToEdit"
        [motelId]="motel.id!"
        (suiteSaved)="onSuiteFormClosed()"
        (suiteCanceled)="onSuiteFormClosed()"
      ></app-suite-form>
    </div>

    <app-suite-list
      [motelId]="motel.id"
      (suiteEdited)="editSuite($event)"
      (suiteDeleted)="onSuiteFormClosed()"
    ></app-suite-list>
  </div>
</div>